<section class="MainPage">
    <h1>{{application.jobPost.employer}}, {{application.jobPost.jobTitle}}, {{application.jobPost.city}}</h1>
    <table id="appDetail" border="1">
        {{#if isApplicant}}
        {{else}}
            {{#ifEquals applicantion.status "pending"}}
                <form action="/applications/updateStatus/{{application._id}}" method="post">
                <div id="isAccept">
                    <p>Operation for accepting this application or declining ?</p>
                    <div id="acceptBtn">
                        <button type="submit" name="adOrNot" value="true">Accept</button>
                        <button type="submit" name="adOrNot" value="false">Decline</button>
                    </div>
                </div>
                </form>
            {{else}}
                
            {{/ifEquals}}
        {{/if}}
        <tr>
            <td>Applicant: </td>
            <td>{{application.applicant.firstname}} {{application.applicant.lastname}}</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td>{{application.jobPost.employer}}</td>
        </tr>
        <tr>
            <td>Job Position: </td>           
            <td>
                <a href="/jobPost/{{application.job_id}}">{{application.jobPost.jobTitle}}, {{application.jobPost.city}}</a>
            </td>
        </tr>
        <tr>
            <td>Resume:</td>
            <td>
                {{#if isApplicant}}
                    <a href="/applicant/readResume/{{application.resume_id}}">Click to the resume</a>
                {{else}}
                    <a href="/hr/readResume/{{application.resume_id}}">Click to the resume</a>
                {{/if}}

            </td>
        </tr>
        <tr>
            <td>Submission Date</td>
            <td>{{application.createTime}}</td>
        </tr>
        <tr>
            <td>Application Status</td>
            <td>
                {{application.status}}
            </td>
        </tr>
        
        <div id="sendPanel">
            <div id="NotesTitle">Notes</div>
            <div id="NotesContent">
                {{#each application.notes}}
                    <p>{{this.from}} <sub>{{this.postDate}}</sub></p>
                    <p>{{this.notes}}</p>
                {{/each}}
            </div>
            <form action="/applications/sendNotes/{{application._id}}" method="post">
                <div id="sendContent">
                    <textarea name="notes" id="" cols="30" rows="8">Type your text here</textarea>
                    <button>Send👆</button>
                </div>
                
            </form>
        </div>
    </table>
    <p style="color: red;">{{error}}</p>
    {{#if isApplicant}}
        <a href="/applicant/applied" id="return"> ← Back to List</a>
    {{else}}
        <a href="/hr/received" id="return"> ← Back to List</a>
    {{/if}}


</section>

