<section class="MainPage">
<h1>User profile</h1>
{{#each user}}
<p>Type:{{Type}}</p>

<p>Name:{{firstname}} {{lastname}}</p>

<p>Email:{{email}}</p>

<p>Gender:{{gender}}</p>

<p>Age:{{age}}</p>

<p>phone:{{phone}}</p>

<p>Address:{{city}} {{state}}{{country}}</p>

<p>website:{{website}}</p>


{{/each}}
<form  id="update" action="/applicant/updateInfo" method="GET">
<button class="submitButton" type="submit">updateinfo</button>
</form>
<form  id="update" action="/applicant/updatePassword" method="GET">
<button class="submitButton" type="submit">change password</button>
</form>
</section>