<section class="MainPage">
<h1>User profile</h1>
{{#each user}}


<div class="userProfile">
    <p id="userTitle">{{firstname}} {{lastname}} <sub>({{Type}})</sub></p>
    <p>Email:&nbsp;{{email}}</p>
    <p>Gender:&nbsp;{{gender}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Age:&nbsp;{{age}}</p>
<p>phone:&nbsp;{{phone}}</p>
<p>Address:&nbsp;{{city}}, {{state}}, {{country}}</p>
<p>website:&nbsp;{{website}}</p>
</div>


{{/each}}
<form  id="update" action="/applicant/updateInfo" method="GET">
<button class="submitButton" type="submit">updateinfo</button>
</form>
<form  id="update" action="/applicant/updatePassword" method="GET">
<button class="submitButton" type="submit">change password</button>
</form>

</section>