<section class="MainPage">
    <h1>HR profile</h1>  
    <div class="userProfile">

    
    <p id="userTitle">{{HRProfile.firstname}} {{HRProfile.lastname}} <sub>({{HRProfile.Type}})</sub></p>
    <p>{{HRProfile.email}}</p>
    <p>gender: {{HRProfile.gender}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Age:&nbsp;{{HRProfile.age}}
    </p>
    <p>country: {{HRProfile.country}}</p>
    <p>state: {{HRProfile.state}}</p>
    <p>city: {{HRProfile.city}}</p>
    <p>phone: {{HRProfile.phone}}</p>
    <p>address: {{HRProfile.address}}</p>
    <p>website: {{HRProfile.website}}</p>
    </div>
    <form  id="update" action="/hr/updateInfo" method="GET">
<button class="submitButton" type="submit">update information</button>
</form>

<form  id="update" action="/hr/updateInfo" method="GET">
<button class="submitButton" type="submit">change password</button>
</form>
    <p style="color: red;">{{error}}</p>

</section>