<section class="MainPage">
    <h1>HR profile</h1>
    email: {{HRProfile.email}}<br>
    firstname: {{HRProfile.firstname}}<br>
    lastname: {{HRProfile.lastname}}<br>
    gender: {{HRProfile.gender}}<br>
    country: {{HRProfile.country}}<br>
    state: {{HRProfile.state}}<br>
    city: {{HRProfile.city}}<br>
    age: {{HRProfile.age}}<br>
    phone: {{HRProfile.phone}}<br>
    address: {{HRProfile.address}}<br>
    website: {{HRProfile.website}}
    <form  id="update" action="/hr/updateInfo" method="GET">
<button class="submitButton" type="submit">updateinfo</button>
</form>
<form  id="update" action="/hr/updatePassword" method="GET">
<button class="submitButton" type="submit">change password</button>
</form>
    <p style="color: red;">{{error}}</p>

</section>