<section>
    email: {{HRProfile.email}}<br>
    firstname: {{HRProfile.firstname}}<br>
    lastname: {{HRProfile.lastname}}<br>
    gender: {{HRProfile.gender}}<br>
    country: {{HRProfile.country}}<br>
    state: {{HRProfile.state}}<br>
    city: {{HRProfile.city}}<br>
    age: {{HRProfile.age}}<br>
    phone: {{HRProfile.phone}}<br>
    address: {{HRProfile.address}}<br>
    website: {{HRProfile.website}}
    <p style="color: red;">{{error}}</p>
</section>