<section class="MainPage">
  
  <h1>Job Market</h1>
<div id="jobPlatform">
<div id="jobSearch">
  <form id="sort-form" name="sort-form" method="POST">
      <input type = "hidden" id="formid" name="formid" value="sort-form">
          <label for="sortby">
              Sort By
              <select onclick="submit_form()" id = "sortby" name="sortby">
                  <option  value="LowHigh">Low to High</option>
                  <option  value="HighLow">High to Low</option>
              </select>
              <input type="radio" onclick="submit_form()" value="LowHigh">Sort salary from low to high
              <br>
              <input type="radio" onclick="submit_form()" value="HighLow">Sort salary from high to low
          </label>

  </form>
    <p>{{error}}</p>
    
    <h2 id="category">Category</h2>
    <form id="jobmarket-form" name="jobmarket-form" method="POST">
    <input type = "hidden" id="formid1" name="formid" value="jobmarket-form">
      <input type="radio" id="6" name="type" value="jobTitle">
      <label>Job Title</label><br>
      <input type="radio" id="1" name="type" value="employer">
      <label>Employer</label><br>
      <input type="radio" id="2" name="type" value="country">
      <label>Country</label><br>
      <input type="radio" id="3" name="type" value="state">
      <label>State</label><br>
      <input type="radio" id="4" name="type" value="city">
      <label>City</label><br>
      <input type="radio" id="5" name="type" value="salary">
      <label>Salary</label><br><br>
      
    <label>Type a name of submitted category:</label>
      <input type="text" id = "7" name="input" placeholder="input">
      <br>
      <br>  
      <button class="submitButton" type="submit">search</button>
    </form>
  <br>
</div>
  <div id="jobResult">
  {{#each jobs}}
  
    <div class="jobList">
  <input type = "hidden" id="formid2" name="formid" value="jobpost-form">
    <h3>{{jobTitle}}</h3>
    <label>Employer:{{employer}}</label>
    <br>
    <label>salary:{{salary}}</label>
    <br>
    <label>post time:{{postTime}}</label>
    <br>
    <label>Location:{{country}}, {{state}}, {{city}}</label>
    <br>
    <label>Description:{{jobDescription}}</label>
    <br>
    <input type = "hidden" name="jobid" value={{_id}}>
    <input type = "hidden" name="posterid" value={{posterId}}>
        
    <button id="{{_id}}" class="submitButton" type="submit" onClick="show(this.id);">
      submit resume
      </button>

    
  </div>
  {{/each}}
   </div>

   <div id="hidebg"></div>
    
</div>


<div id="hidebox">
      <button onClick="hide();" id="closeButton">x</button>
      <form action="/applications/createApplication" method="POST" id="jobpost-form">
        <input type="text" id="jobInput" name="jobIdToBack" style="display: none;">
        <label for="submitResume">
          Select one resume:
          <select name="submitResume" id="submitResume">
              {{#each resumes}}
                  <option value={{_id}}>{{resumeName}}</option>
              {{/each}}
          </select>
        </label>
        <br>
        <button class="submitButton" type="submit" onClick="submitHide();">SUBMIT</button>
      </form>
    </div>
</section>