<section class="MainPage">
  
  <h1>Job Market</h1>
<form id="sort-form" name="sort-form" action="" method="POST">
    <input type = "hidden" id="formid" name="formid" value="sort-form">
        <label for="sortby">
            Sort By
            <select onclick="submit_form()" id = "sortby" name="sortby">
                <option  value="LowHigh">Low to High</option>
                <option  value="HighLow">High to Low</option>
            </select>
        </label>
</form>
    <script>
    function submit_form(){
        var form = document.getElementById("sort-form");
        form.submit();
    }
    </script>
  <p>{{error}}</p>
  <form id="jobmarket-form" name="jobmarket-form" action="" method="POST">
  <input type = "hidden" id="formid" name="formid" value="jobmarket-form">
    <input type="radio" id="type" name="type" value="country">
    <label>country</label><br>
    <input type="radio" id="type" name="type" value="state">
    <label>CSS</label><br>
    <input type="radio" id="type" name="type" value="city">
    <label>city</label>
    <input type="radio" id="type" name="type" value="salary">
    <label>salary</label>
    <input type="radio" id="type" name="type" value="jobTitle">
    <label>jobTitle</label>
    <input type="input" id = "input" name="input" placeholder="input">
    <label>input</label>
    <br>  
    <button id="submitButton" type="submit">search</button>
  </form>
  <br>
  {{#each jobs}}
  <form id="jobpost-form" name="jobpost-form" action="" method="POST">
  <input type = "hidden" id="formid" name="formid" value="jobpost-form">
    <label>salary:{{salary}}</label>
    <input type = "hidden" id="salary" name="salary" value={{salary}}>
    <label>jobtitle:{{jobTitle}}</label>
    <input type = "hidden" id="jobtitle" name="jobtitle" value={{jobTitle}}>
    <input type = "hidden" id="jobid" name="jobid" value={{_id}}>
    <button id="submitButton" type="submit">submit resume</button>
  </form>
  {{/each}}
<section>

</section>