<section>
    <p>
        Employer: {{employer}}<br>
        Country: {{country}}<br>
        State: {{state}}<br>
        City: {{city}}<br>
        Salary: {{salary}}<br>
        Job Title: {{jobTitle}}<br>
        Job Description: {{jobDescription}}<br>
        Is Available: {{isAvailable}}
    </p>
</section>