<section class="MainPage">
    <h1 style="color: rgb(13, 255, 0);">Received applications</h1>

    {{#each applications}}
        <li>
            <a href="/applications/{{this._id}}">{{this.job.employer}} {{this.job.jobTitle}} {{this.job.city}}
            from {{this.applicant.firstname}} {{this.applicant.lastname}}</a>
        </li>
    {{/each}}

    <p style="color: red;">{{error}}</p>
</section>