<section class="MainPage">
    <h1>Received applications</h1>

    <table class="applicationTable" style="border: 5px;">
        <tr class="applicationNav">
            <td>Applicant Name</td>
            <td>Company Name</td>
            <td>Job Position</td>
            <td>Submission date</td>
            <td>Operation</td>
        </tr>
        {{#each applications}}
            <tr>
                <td class="appColumn">{{this.applicant.firstname}} {{this.applicant.lastname}}</td>
                <td class="appColumn">{{this.job.employer}}</td>
                <td class="appColumn">{{this.job.jobTitle}}</td>
                <td class="appColumn">{{this.createTime}}</td>
                <td class="appColumn">
                    

                    <button class="viewApp" onclick="window.location.href = '/applications/{{this._id}}'">VIEW</button>
                </td>
            </tr>
        {{/each}}
    </table>
    <p style="color: red;">{{error}}</p>

</section>