<section class="MainPage">
    <h1>This is Update page for applicant</h1>
    <form action="/applicant/updateInfo" method="POST" class="InfoForm">
        <label>
          Please enter change the info you want:
        </label>
        <br>
        <p style="color: red;">{{error}}</p>
        <label>
            Firstname
            <input type="text" id = "firstnameInput" name="firstnameInput" value={{user.firstname}}>
        </label>
        <br>
        <label>
            Lastname
            <input type="text" id = "lastnameInput" name="lastnameInput"  value={{user.lastname}}>
        </label>
        <br>
        <label>
            Gender
            <select id = "genderInput" name="genderInput">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Others</option>
            </select>
        </label>
        
        <br>
        <label>
            Age
            <input type="text" id = "ageInput" name="ageInput" value="{{user.age}}">
        </label>
        <br>
        <label>
            City
            <input type="text" id = "cityInput" name="cityInput" value="{{user.city}}">
        </label>
        <label>
            State
            <input type="text" id = "stateInput" name="stateInput" value="{{user.state}}">
        </label>
        <label>
            Country
            <input type="text" id = "countryInput" name="countryInput"  value="{{user.country}}">
        </label>
        <br>
        <label>
            Phone (US only)
            <input type="text" id = "phoneInput" name="phoneInput" value={{user.phone}}>
        </label>
        <br>
        
        <button class="submitButton updateButton" type="submit">Update</button>
        <a href="/" id="cancelLink">
            Cancel
        </a>
    </form>
</section>